<div class="row">
  <div class="col-xs-offset-1 col-xs-10 alert alert-danger" ng-show="error">
    {{error}}
  </div>

  <div class="col-xs-6 col-xs-offset-1">
    <h2>Place Bet</h2>

    <!-- Todos input -->
    <form role="form">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="bet" placeholder="Place your bet" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Place Bet" ng-click="addBet()">
        </span>
        </div>
      </div>
    </form>
    <br/>

    <div class="row  table-bordered">
      <div class="col-xs-3">
        <h3>Win Pool</h3>

        <p class="input-group" ng-repeat="bet in bets | filter:'W'">
          {{bet.product}}:{{bet.selection}}:{{bet.stake}}
        </p>
      </div>
      <div class="col-xs-3">
        <h3>Place Pool</h3>

        <p class="input-group" ng-repeat="bet in bets | filter:'P'">
          {{bet.product}}:{{bet.selection}}:{{bet.stake}}
        </p>
      </div>
      <div class="col-xs-3">
        <h3>Exacta Pool</h3>

        <p class="input-group" ng-repeat="bet in bets | filter:'E'">
          {{bet.product}}:{{bet.selection}}:{{bet.stake}}
        </p>
      </div>
      <div class="col-xs-3">
        <h3>Quinella Pool</h3>

        <p class="input-group" ng-repeat="bet in bets | filter:'Q'">
          {{bet.product}}:{{bet.selection}}:{{bet.stake}}
        </p>
      </div>
    </div>

    <br/>
  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <h2>Publish Result</h2>

    <form role="form">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="result" placeholder="Announce Race Result" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-success" value="Declare Result" ng-click="declareResult()">
        </span>
        </div>
      </div>

      <br/>

      <div ng-show="dividend">
        <h4>Win - Runner {{publishedResult.firstRunnerUp}} - ${{dividend.dividendOfWinPool}}</h4>
        <h4>Place - Runner {{publishedResult.firstRunnerUp}} - ${{dividend.dividendOfPlacePoolForFirstRunnerUp}}</h4>
        <h4>Place - Runner {{publishedResult.secondRunnerUp}} - ${{dividend.dividendOfPlacePoolForSecondRunnerUp}}</h4>
        <h4>Place - Runner {{publishedResult.thirdRunnerUp}} - ${{dividend.dividendOfPlacePoolForThirdRunnerUp}}</h4>
        <h4>Exacta - Runners {{publishedResult.thirdRunnerUp}} - ${{dividend.dividendOfExactaPool}}</h4>
        <h4>Quinella - Runners {{publishedResult.thirdRunnerUp}} - ${{dividend.dividendOfQuinellaPool}}</h4>
      </div>
    </form>
  </div>
</div>
